.about-block {
  display: block;
  padding: 50px;
  border: 1px solid black;
  background-color: lightgray;

  box-sizing: border-box;
  margin-left: auto;
  width: 50%;
}

.h1 {
  font-family: Cooperplate;
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: 1px;

  background-color: black;
}
.p-1 {
  font-family: Verdana;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
}
.h2 {
  font-family: Cooperplate;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
html,
body {
  margin: 0px;
  height: 100%;
}

.box {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.label {
  display: inline-block;
  background-color: white;
  border: none;
  margin-right: 8px;

  width: 80px;

  font-weight: bolder;
  vertical-align: middle;
  font-size: 18px;
}
.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border: 2px solid black;
  width: 400px;
  margin-left: 30px;
  gap: 32px;
  padding: 32px;
}
select {
  font-size: 16px;
  font-weight: bolder;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  background-color: whitesmoke;
}

option {
  font-size: 18px;
  font-weight: bolder;
}
.field-group {
  display: flex;
  align-items: center;

  background-color: white;

  width: 300px;
}
.container {
  display: flex;
}
